<!-- About Section -->
    <section id="about">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Par Mums</h2>
                </div>
            </div>
            <div class="row">
            <div class="col-lg-8 col-lg-offset-2 text-center">
                <p class="large text-muted">„Mežrozītes.lv”ir mūsu ģimenes uzņēmums.
2014.gadā mums radās traka ideja – audzēsim mežrozītes.Bez īpašām zināšanām un pieredzes,bet ar lielu degsmi un vēlēšanos.
Šobrīd mūsu saimniekošana notiek gan Pierīgā,gan Kurzemē – netālu no Kuldīgas.
Pierīgā ražojam mežrozīšu produktus un aicinam apmeklēt Mežrozīšu namiņu,bet lauku īpašumā pie Kuldīgas kopjam mūsu mežrozīšu lauku.
Cītīgi darbojamies paši,iesaistam bērnus un vecākus.Kopīgi darbojamies un pamazām virzamies uz priekšu.
Sapņi mums lieli ☺
</p>
            </div>
        </div>
    </section>
