<!-- Services Section -->
    <section id="services">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 text-center">
                    <h2 class="section-heading">Kāpēc Mežrozītes?</h2>
                    <h3 class="section-subheading text-muted">Augļu un ogu bagātība, ko sniedz mums daba, ir apbīnojama. Īpaša un uzturā lietojama ir ik katra oga vai auglis. Mežrozīšu augļi ir vērtīgi sava satāva dēļ - tos mēdz dēvēt par dabīgajiem polivitamīniem, tāpēc uztura dažādošanai noteikti ieteicami un iekļaujami ikdienas uzturā.
</h3>
                </div>
            </div>
            <div class="row text-center">
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-shopping-cart fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Ražots Latvijā</h4>
                    <p class="text-muted">Produkti ražoti Babītes novadā</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-laptop fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Roku darbs</h4>
                    <p class="text-muted">100% roku darbs</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">100% dabīgs produkts</h4>
                    <p class="text-muted">Ar atbildību pret patērētāju</p>
                </div>
                <div class="col-md-4">
                    <span class="fa-stack fa-4x">
                        <i class="fa fa-circle fa-stack-2x text-primary"></i>
                        <i class="fa fa-lock fa-stack-1x fa-inverse"></i>
                    </span>
                    <h4 class="service-heading">Nepārspēts C vitamīna avots</h4>
                    <p class="text-muted">Mežrozīte - C vitamīna karaliene</p>
                </div>
            </div>
        </div>
    </section>
