<!-- Team Section -->
    <section id="team" class="bg-light-gray">
        <div class="container">
          <div class="row">
              <div class="col-lg-12 text-center">
                  <h2 class="section-heading">Mežrozīšu namiņš</h2>
              </div>
          </div>
          <div class="row">
          <div class="col-lg-8 col-lg-offset-2 text-center">
              <p class="large text-muted">Šeit iespējams izgaršot, izbaudīt, iegrimt sarunās.<br>
Iepazīt mežrozītes un mūs.<br>
Kopā baudīt un arī radoši padarboties.<br>
Ko mēs piedāvājam?<br>
<h4>Baudīt</h4>
Mežrozīšu namiņa apmeklējums ar degustāciju<br>
-)gardā mežrozīšu zupa ar mājās gatavotu saldējumu<br>
-)pankūkas ar 10 dažādiem mežrozīšu ievārījumiem<br>
-)pasakainas vafeles ar mežrozīšu ievārījumu<br>
-)visu mūsu ražoto produktu nogaršošana<br>
5,-EUR/personai<br>
<h4>Radoši padarboties</h4>
-)keikpopu, ar mežrozīšu pulveri, gatavošana<br>
-)veselīgo trifeļu, ar mežrozīšu pulveri, gatavošana<br>
-)zefīru gatavošana<br>
-)cepumu, ar mežrozīšu sīrupu, gatavošana<br>
10,-EUR/personai<br>
<br>
Pirms brauc – noteikti laicīgi piezvani un piesaki vizīti.Mob.tel.26462283<br>
P.s. Mežrozīšu namiņā par draudzīgām cenām iespējams iegādāties mežrozīšu produktus!
                </p>
          </div>
      </div>
    </div>
  </section>
